{# src/Shop/ShopBundle/Resources/views/Page/forgotPassword.html.twig #}
{% extends 'ShopShopBundle::layout.html.twig' %}
{% block title %} Forgot Password {% endblock %}


{% block body %}
	<header>
		<h1>Email Your Password</h1>
	</header>
	
	<form action="{{ path('ShopShopBundle_forgot') }}" method="post" {{ form_enctype(form) }} class="#'>
	
		{{ form_errors(form) }}

		{{ form_row(form.email) }}

		{{ form_rest(form) }}
		
		<input type="submit" value="Email my password"/>

	</form>

{% endblock %}
